@model ProjectT1.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo Vehiculo <i class="fa fa-car" aria-hidden="true"></i> </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="IdVehiculo" id="id_vehiculo" class="form-control" placeholder=" " />
                <label asp-for="IdVehiculo" for="id_vehiculo" class="control-label">Id Vehiculo</label>
                <span asp-validation-for="IdVehiculo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NroPlaca" class="form-control" id="nro_marca" placeholder=" " />
                <label asp-for="NroPlaca" class="control-label" for="nro_marca">N°Placa</label>
                <span asp-validation-for="NroPlaca" class="text-danger"></span>
            </div>


            <div class="form-group mb-3">
                <label for="marcaDropdown">Marca :</label>
                <select id="marcaDropdown" class="form-control" asp-items="ViewBag.Marcas">
                    <option value="">Selecione una Marca</option>
                </select>
                <span asp-validation-for="Modelo.Marca.NomMarca" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label for="modeloDropdown">Modelo :</label>
                <select asp-for="ModeloId" id="modeloDropdown" class="form-control" disabled>
                    <option value="">Seleccione Modelo</option>
                </select>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="Anio"  class="form-control" id="anio" placeholder=" " />
                <label asp-for="Anio" class="control-label" for="anio">Año</label>
                <span asp-validation-for="Anio" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Color" class="form-control" id="color" placeholder=" " />
                <label asp-for="Color" class="control-label" for="color">Color</label>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="EstPer" class="form-control" id="estado" placeholder=" " />
                <label asp-for="EstPer" class="control-label" for="estado">Estado</label>
                <span asp-validation-for="EstPer" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Jquery.js"></script>